<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Process your image</title>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="https://github.com/kmerkuri">kmerkuri</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Process your image</h3>
        </div>
 
        <div class="jumbotron">
		 <div id="image-container">
            <img src=" {{url_for('send_image', filename=image_name)}} " style="max-width: 560px;">
            </div>
          </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Flip</h4>
                <form id="form-flip" action="{{ url_for('flip') }}" method="POST" enctype="multipart/form-data">        
                  <button id="btnFlipV" class="btn btn-lg btn-success" type="submit" name="mode" value="vertical">Vertical</button>
                  <button id="btnFlipH" class="btn btn-lg btn-success" type="submit" name="mode" value="horizontal">Horizontal</button>
			  <input type="text" class="hidden" name="image" value="{{ image_name }}">  

                </form>
 
                <h4>Crop</h4>
                <form id="form-crop"" action="{{ url_for('crop') }}" method="POST" enctype="multipart/form-data">
                  <input type="number" placeholder="x1" min="0" name="x1" required>  
                  <input type="number" placeholder="y1" min="0" name="y1" required>                 
                  <input type="number" placeholder="x2" min="0" name="x2" required>                 
                  <input type="number" placeholder="y2" min="0" name="y2" required>                                
                  <button id="btnCrop" class="btn btn-lg btn-success" type="submit">Go</button>
			  <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form> 


                <h4>White to Transparent</h4>
                <form id="form-whitetotransparent" action="{{ url_for('whitetotransparent') }}" method="POST" enctype="multipart/form-data">
                    <button id="whitetotransparent" class="btn btn-lg btn-success" type="submit">Convert to Transparent</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form>            
                
                <h4>Adjust Image Color Balance</h4>
                <form id="form-colorbalace" action="{{ url_for('colorbalance') }}" method="POST" enctype="multipart/form-data">
                    <button id="colorbalance" class="btn btn-lg btn-success" type="submit">Adjust Color Balance</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form> 
                <h4>Enhance Sharpness</h4>
                <form id="form-sharpness" action="{{ url_for('enhancesharpness') }}" method="POST" enctype="multipart/form-data">
                    <button id="colorbalance" class="btn btn-lg btn-success" type="submit">Enhance Sharpness</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form> 
                <h4>Convert to Black and White</h4>
                <form id="form-blackandwhite" action="{{ url_for('blackandwhite') }}" method="POST" enctype="multipart/form-data">
                    <button id="blackandwhite" class="btn btn-lg btn-success" type="submit">Black And White</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form> 
                <h4>Conver to Negative</h4>
                <form id="form-negative" action="{{ url_for('negative') }}" method="POST" enctype="multipart/form-data">
                    <button id="negative" class="btn btn-lg btn-success" type="submit">Convert to negative</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form> 
            </div>
 
            <div class="col-lg-6">
                <h4>Rotate</h4>
                <form id="form-rotate" action="{{ url_for('rotate') }}" method="POST" enctype="multipart/form-data"> 
			  <input type="number" name="angle" min="-359" max="359" placeholder="degrees" required>        
                  <button id="btnRotate" class="btn btn-lg btn-success" type="submit">Go</button>
	  		  <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form>
 
                <h4>Blend</h4>
                <form id="form-blend"" action="{{ url_for('blend') }}" method="POST" enctype="multipart/form-data">  
		       <input type="number" name="alpha" placeholder="alpha(%)" min="0" max="100" required>               
                  <button id="btnBlend" class="btn btn-lg btn-success" type="submit">Go</button>
	  	       <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form>
                
                <h4>Simple Geometry Transforms</h4>
                <form id="form-simplegeometry" action="{{ url_for('simplegeometry') }}" method="POST" enctype="multipart/form-data">
                    <input type="number" placeholder="x1" min="0" name="x1" required>  
                    <input type="number" placeholder="x2" min="0" name="x2" required>                                               
                    <button id="btnsimplegeometry" class="btn btn-lg btn-success" type="submit">Go</button>
                <input type="text" class="hidden" name="image" value="{{ image_name }}">
                  </form> 
                  <h4>Enhance Contrast</h4>
                  <form id="form-contrast" action="{{ url_for('enhancecontrast') }}" method="POST" enctype="multipart/form-data">
                    <button id="colorcontrast" class="btn btn-lg btn-success" type="submit">Enhance Sharpness</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form> 
                  <h4>Enhance Brightness</h4>
                  <form id="form-brightness" action="{{ url_for('enhancebrightness') }}" method="POST" enctype="multipart/form-data">
                    <button id="colorbrightness" class="btn btn-lg btn-success" type="submit">Enhance Brightness</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form> 
                  <h4>Convert to GrayScale</h4>
                  <form id="form-grayscale" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
                    <button id="grayscale" class="btn btn-lg btn-success" type="submit">Conver to GrayScale</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">
                </form> 
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Klevi Merkuri 2020. Using Python, Flask and PIL.</p>
        </footer>
 
    </div>
</body>
 
</html>

